@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/** MISCEALANEOUS **/
        /*normalizacion */

@import url('./misc/variables.css');

@import url('./misc/normalize.css');

@import url('./misc/helpers.css');



/** PARTIALS **/

        /* Header */
@import url('./partials/header.css');
        /*footer*/
@import url('./partials/footer.css');

        /* Estilo botones */
@import url('./partials/button.css');

        /* Card small the home */
@import url('./partials/small-card.css');

        /* Estilo formularios */
@import url('./partials/form.css');


/** SLIDERS **/
@import url('./components/slider.css');


/** PAGINAS **/
@import url('./pages/home.css');

@import url('./pages/shop.css');

@import url('./pages/admin.css');

@import url('./pages/cart.css');

@import url('./pages/create.css');

@import url('./pages/edit.css');

@import url('./pages/contact.css');

@import url('./pages/item.css');

@import url('./pages/login.css');

@import url('./pages/register.css');

