/* REGULAR FORM ELEMENTS */

textarea {
    width: 100%;
}

textarea::placeholder {;
    color: var(--dark-300);
}

.form__box--grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--spacing-16);
    align-items: center;
}

.form__label {
    font-size: var(--font-medium);
    font-weight: 600;
    letter-spacing: var(--spacing-1);
}

.form__input {
    padding: var(--spacing-10) var(--spacing-5);
    border: none;
    flex-grow: 1;
    border-bottom: var(--spacing-2) solid var(--primary-solid);
    font-size: var(--font-medium);
}

.form__input:focus {
    outline: 0;
}

.form__submission {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-16);
}
