header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
    font-family: var( --alternative-font);
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.navbar__list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    /* Espacio entre los enlaces */
}

.a {
    text-decoration: none;
    align-items: center;
    color: inherit;
    /* toma el color que viene el heredaro .En este caso html : #1111 */
    font-family: inherit;
    margin: 0;
}


.navbar__cart img {
    height: 20px;
    margin-top: 2px;
}

.logo {
    max-width: 300px;
    margin-right: var(--spacing-20);

}

/* Estilos para los elementos del menú */
.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-12);
  }

.navbar__item {
   /* display: inline-block;*/
    margin-right: var(--spacing-24);
    position: relative;

}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background 0.3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.links-container {

    margin-left: var(--spacing-68);
    /* Empuja los enlaces hacia la derecha */
}

/* Estilos para el submenú */
.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
  }


.submenu_link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background 0.3s ease-in-out;
  }

.submenu_link:hover {
    background-color: var(--primary-900);
}

.navbar__item:hover .submenu {
    display: block;
    /* o block, según sea necesario */

}
